
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #3097D1 !default;
$green: #5cb85c !default;
$cyan: #5bc0de !default;
$yellow: #f0ad4e !default;
$red: #d9534f !default;
